include ras_commander/native/RasStoreMapHelper.exe
include ras_commander/native/RasStoreMapHelper.cs
include ras_commander/resources/land_classification/*.hdf
recursive-include ras_commander/resources/templates *

